@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:300,400,500,700");

body {
  background-color: #CED0CE;
  color: #12100E;
  font-family: 'Lora', serif;
  font-size: 17px;
  line-height: ;
  font-weight: 300; /* if you want the light version */
}
h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  color: #720026;
}

h1 {
  font-size: 30px;
  font-weight: 800;
}
h2 {
  font-size: 20px;
  font-weight: 600;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

a:-webkit-any-link {
    cursor: pointer;
}
a {
  color: #333333;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 350;
  font-size: 16px;
}

a:hover {
  color: #753742;
}

ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
  text-align: -webkit-match-parent;
}

#introduction p {
    margin-bottom: 40px;
}

@media (max-width: 960px) {
.container {
  width: 700px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}
}
@media (max-width: 7200px) {
.container {
  width: 500px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}
}
@media (max-width: 540px) {
.container {
  width: 300px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}
}
.card {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}

.img-circle {
    border-radius: 50%;
}

.button {
  background-color: #720026;
  color: white;
  padding: 12px 17px;
  border-radius: 4px;
}

.list-inline > li {
  display: inline;
  padding: 10px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline i {
    font-size: 50px;
  }

.fab {
  font-family: "Font Awesome 5 Brands";
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

